@charset "utf-8";
/* CSS Document */

body{
	background-color: #eceeef;
	margin:0px;
	color: black;
}
div.main{
		width:100%;
		height: auto;
}

div.logo{
	display: block;
	width: 100%;
	height: 70px;
}
h1{
color: #114b7c;
}
div.logo h1 {
	display: block;
	padding: 1em;
	text-align: center;
	font-style: bold;
	font-family: Georgia;
	font-size: 200%;

}

div.header{
	display: block;
	width: 100%;
	height: 78px;
	background-color: #4a95cb;

}

div.menu{
	width: 50%;
	margin: 0px auto;

}

div.menu ul{
	padding-left: 150px;
	display: block;
	padding-top: 20px;
	list-style-type: none;

}
div.menu ul li{
	display: inline;
	padding-left: 20px;
	font-size: 25px;
	color: white;
}

div.menu a:link, a:visited {
	font-weight: bold;
    color: #FFFFFF;
	width: 120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
}

div.menu a:hover, a:active {
	color:#8F4700

}

div.mainContent{
	width: 70%;
	margin: 0 auto;
}

#imageScroll{
	overflow: auto;
	background-color: white;
	
}

#imageScroll img{
	height: 150px;
	width: 150px;
}

#imageScroll div{
	width: 150px;
	display: inline-block;
	padding: 30px 30px;
}

#imageScroll img.thumbdn{
	height: 30px;
	width: 30px;
	float: right;
	cursor: pointer;
}
#imageScroll img.thumbup{
	height: 30px;
	width: 30px;
	float: left;
	cursor: pointer;
}

.comments {
	list-style:none;
}

.comments li {
	font-family: Georgia;
	color: #FFFFFF;
	font-size: 1em;
	padding: 5px;
}
	

div.thumbsup{
	padding-top: 0px;
	padding-left: 0px;
	float:none;
}

div.thumbsdown{
	padding-top: 0px;
	padding-left: 0px;
}

#register {
padding-right:100px;
margin-left:0px;
}

div.head{
 position: fixed;
    top: 0;
	width: 100%;
	margin-left:100px;
}


